<div class="fluid">
	<div class="row " style="width: 100%">
		<div class="col-md-3">
			<app-admindashboard></app-admindashboard>
		</div>
 
		<div class="col-md-8 box">
			<div class="boxhead">
      <p style="font-size: 16pt;"><span class="glyphicon glyphicon-edit"></span>Add Subject</p>
      </div>
      <form [formGroup]="subject" (ngSubmit)="subjectdata()">
        <div class="form-group">
           <label>Course:</label>
          <select class="form-control" formControlName="coursename">
              <option selected>**SELECT COURSE**</option>
              <option *ngFor="let data of courselist" >{{data.course_name}}</option>
              <option></option>
          </select>    
                      
        </div>
              <div class="form-group">
                  <label for="usr">Subject-id:</label>
                  <input type="text" class="form-control" id="usr" formControlName="subcid" readonly="">
             </div>
        <div class="form-group">
              <label for="pwd">Subject Name:</label>
              <input type="text" class="form-control" id="pwd" formControlName="subcname" [ngClass]="{ 'is-invalid': submitted && f.subcname.errors }">
              <div *ngIf="submitted && f.subcname.errors" class="invalid-feedback">
                  <div *ngIf="f.subcname.errors.required" style="color: red;">Course Name is required</div>
                  <div *ngIf="f.subcname.errors.maxlength" style="color: red;">Course Name shouild be less than 100 charcter</div>
              </div>
        </div>

              <div class="form-group">        
        <div class="text-center">
            <button type="submit" class="btn-lg btn-danger">Submit</button>
        </div>
        </div>
            </form>
		</div>
	</div>
</div>