<div class="fluid">
  <div class="row" style="width: 100%">
    <div class="col-md-3" >
      <app-admindashboard></app-admindashboard>
    </div>

    <div class="col-md-9" style="margin-top: 70px;margin-left: -18px;">
    <!-- search panel -->
    <div class="note" style="margin-top: 60px;">
        <p style="text-align: center;">SEARCH EXAM</p>
        <input type="text" class="form-control" placeholder="search Exam" name="">
    </div>
    
      <!-- table starting -->
    <table class="table table-bordered">
    <thead>
      <tr >
        <th>S No.</th>
        <th>Exam Code</th>
        <th>Course name</th>
        <th>Subject Name</th>
        <th>Exam Name</th>
        <th>Exam Date</th>
        <th>Total Questions</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of examdata,let index=index">
        <td>{{index+1}}</td>
        <td>{{data.exam_code}}</td>
        <td>{{data.course}}</td>
        <td>{{data.subject}}</td>
        <td>{{data.exam_name}}</td>
        <td>{{data.exam_date}}</td>
        <td>{{data.total_questions}}</td>
        <td>
          <div class="btn-group">
             <button type="button" class="btn btn-primary" (click)="deleteexam(data.exam_code)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
             <button type="button" class="btn btn-primary" (click)="editexam(data.exam_code)" ><span class="glyphicon glyphicon-wrench"></span>Edit</button>
             <button type="button" class="btn btn-primary" (click)="getexamcode(data.exam_code)"><span class="glyphicon glyphicon-plus"></span>Add question</button>
          </div>
        </td>
      </tr>
    </tbody>
    </table>
    
    <!--table ending-->
    </div>

  </div>
</div>