.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding: 0px 10px 0px 3px;
    -moz-osx-font-smoothing: grayscale;
}
.table-bordered {
    border: 1px solid black;
    /*box-shadow: 1px 2px 6px 0px;*/
}
.table-bordered:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.note
{
    text-align: center;
    height: 110px;
    background: -webkit-linear-gradient(left, #31708f, #31708f);
    color: #fff;
    font-weight: bold;
    line-height: 66px;
    /*box-shadow: 1px 2px 6px 0px black;*/
    border: 1px solid #ced4da;
}
.note:hover{
   box-shadow: 3px 3px 0px transparent;
    transition: 0.5s; 
}
.form-control{
    margin-left: 274px;
    margin-top: -25px;
    width: 50%;
}