<div class="container">
	<h3>COLLEGE INFORMATION</h3>
</div>
<div class="container" style="border: 3px solid black;">
	<div class="row">
	<div>	
	<div class="list-group" STYLE="TEXT-ALIGN:CENTER;">
	<div class="col-md-6">	
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">SAMPATTI KA VIVRAN PATRA 31ST MARCH 2016
      </h4>
    </a>

    <a href="#" class="list-group-item ">
      <h4 class="list-group-item-heading">HISTORY</h4>
    </a>

    <a href="#" class="list-group-item" >
      <h4 class="list-group-item-heading">DEPARTMENTS</h4>
    </a>

    <a href="#" class="list-group-item" >
      <h4 class="list-group-item-heading">ADMISSION PROCESS</h4>
    </a>

    <a href="#" class="list-group-item" >
      <h4 class="list-group-item-heading">SYLLABUS </h4>
    </a>

   <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">EXAM TIME TABLE FOR UG</h4>
   </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">EXAM TIME TABLE FOR PG</h4>
   </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">EXAM TIME TABLE FOR PRIVATE</h4>
    </a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">JOURNAL</h4>
    </a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">FACULTY</h4>
    </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">E-NEWS LETTER</h4>
    </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">CURRENT NEWS</h4>
    </a>
   
   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">ANTI RAGGING</h4>
    </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">COMMITTEE</h4>
    </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">NACC SSR</h4>
    </a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">NSS</h4>
    </a>
    
    </div>
    <div class="col-md-6">

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">NCC</h4>
    </a>
     
    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">RECORD OF CAUSAL LEAVE</h4>
    </a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">YOGA </h4>
    </a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">SPORTS</h4>
    </a>
    
   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">PLACEMENT CELL</h4>
   	</a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">RIGHT TO INFORMATION</h4>
   	</a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">YOGA </h4>
   	</a>
    
    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">ALLUMUNI ASSO.</h4>
   	</a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">YOGA </h4>
   	</a>
    
    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">CONFRENCE WORKSHOP</h4>
   	</a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">IQAC(AQAR)</h4>
   	</a>
     

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">JAROKHA E-BOOK</h4>
   	</a>
    
    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">PRINCIPAL MESSAGE</h4>
   	</a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">LIBRARY PROFILE</h4>
   	</a>

    <a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">SCHOLARSHIPS</h4>
   	</a>

   	<a href="#" class="list-group-item">
   	<h4 class="list-group-item-heading">WOMEN IMPOWERMENT</h4>
   	</a>
   	</div>
</div>
  </div>
</div>